@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Fasthand&family=Freehand&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Noto+Sans+Khmer:wght@100..900&display=swap");

@theme {
  --color-primary: #1e3a8a;
  --color-primary-contrast: white;
}
@layer base {
  img:hover {
    transform: scale(1.05);
    transform-duration: 700ms;
  }
}
h1 {
  font-family: sans-serif;
  /* font-weight: var(--font-bold); */
  
  
}
